.box1{
    width:150px;
    height:150px;
    background:green;
}
.box2{
    width:230px;
    height:230px;
    background:#ef2626;
}

    input[type=text] {
        width: 200px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }
      
      .flex-container {
        display: flex;
        flex-wrap: nowrap;
        background-color: DodgerBlue;
      }
      
      .flex-container > div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      }

      .centertxt {
          text-align: center
      }